@using SONTM.WEB.Entities;
@model ApplicationUser
@{
    var guid = Guid.NewGuid().ToString("N");
    var roleList = ViewBag.RoleList;
}
<form method="post" asp-action="Add" asp-controller="Role">
    <input type="hidden" name="Id" value="@guid" />
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @if (roleList != null && roleList!.Any())
    {
        <select class="form-control" name="Roles">
            @foreach(var role in roleList)
            {
                <option value="@role.Id">@role.Code</option>
            }
        </select>
    }
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Tạo tài khoản" />
    </div>
</form>