@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<h2>Role List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("EditRole", new { id = role.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("DeleteRole", new { id = role.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
